<div class="container">
    <div class="contentbar">
      <!-- Start row -->
      <div class="row">
        <!-- Start col -->
        <div class="col-md-12 col-lg-12 col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-12">
                  <div class="cart-container">
                    <div class="d-flex">
                      <label class=" control-label"><h2 style="display: inline-block;">Import Contacts</h2>&nbsp;<i class="fa fa-question-circle" data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="You can import your existing contacts directly from Outlook.com, facebook.com, LinkedIn.com and SurveyMonkey.com ."
                        aria-hidden="true"></i></label>
                    </div>
                    <hr>
                    <div class="container">
                      <div class="row mt-4">
                          <div class="col-md-4 col-xl-3">
                            <div class="card bg-c-blue order-card">
                                <div class="card-block">
                                  <a href="http://crm-project-node.herokuapp.com/facebook/facebookAuth">
                                    <h2 class="mb-1">Facebook</h2>
                                    <div class="clearfix">
                                      <h2 style="size:50px;" class="display-1 f-left">{{Facebook}}</h2>
                                      <i style="font-size:50px;" class="fa fa-facebook-official f-right"></i>
                                    </div>
                                    <h4 class="p-0 m-0">Contact Imported</h4>
                                  </a>
                                </div>
                            </div>
                        </div>
  
                          <div class="col-md-4 col-xl-3">
                            <div class="card bg-c-green order-card">
                                <div class="card-block">
                                  <a href="http://crm-project-node.herokuapp.com/surveymonkey/getApi">
                                    <h2 class="mb-1">SurveyMonkey</h2>
                                    <div class="clearfix">
                                      <h2 style="size:50px;" class="display-1 f-left">{{SurveyMonkey}}</h2>
                                      <img style="height: 60px; margin-top: -10px;" src="../../../../assets/img/brand/SurveyMonkey.svg" class="f-right" alt="">
                                    </div>
                                    <h4 class="p-0 m-0">Contact Imported</h4>
                                  </a>
                                </div>
                            </div>
                        </div>
  
                          <div class="col-md-4 col-xl-3">
                            <div class="card bg-c-yellow order-card">
                                <div class="card-block">
                                  <a href="http://crm-project-node.herokuapp.com/linkedin/linkedinAuth">
                                    <h2 class="mb-1">LinkedIn</h2>
                                    <div class="clearfix">
                                      <h2 style="size:50px;" class="display-1 f-left">{{Linkedin}}</h2>
                                      <i style="font-size:50px;" class="fa fa-linkedin-square f-right"></i>
                                    </div>
                                    <h4 class="p-0 m-0">Contact Imported</h4>
                                  </a>
                                </div>
                            </div>
                        </div>   
                          
                          <div class="col-md-4 col-xl-3">
                              <div class="card bg-c-pink order-card">
                                <div class="card-block">
                                    <a href="http://crm-project-node.herokuapp.com/microsoft/microsoftAuth">
                                      <h2 class="mb-1">Windows</h2>
                                      <div class="clearfix">
                                        <h2 style="size:50px;" class="display-1 f-left">{{Microsoft}}</h2>
                                        <i style="font-size:50px;" class="fa fa-windows f-right"></i>
                                      </div>
                                      <h4 class="p-0 m-0">Contact Imported</h4>
                                    </a>
                                  </div>
                              </div>
                          </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End col -->
      </div>
      <!-- End row -->
    </div>
  </div>
  